
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(image/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150vh;
  color: bisque;
}
.key {
  backdrop-filter: blur(3px);
  border: 3px solid black;
  box-shadow: 5px 5px 10px grey ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  transition: all 2.07s;

}
.playing{
  transform: scale(1);
  border-color: #ffc67c;
  box-shadow: 0 0 10px  #ffc67c ;
}
.key kbd {
display: block;
font-weight: 300;
font-size: 2em;
color: hsl(32, 56%, 86%);
margin-top: 12px;
}

.sound {
  color: hsl(33, 67%, 65%);
  text-transform: uppercase;
  margin-top: 6px;
  letter-spacing: 1px;
 
}
